<nav>
  <a routerLink="index" routerLinkActive="active">Index</a>

  <div class="dropdown">
    <span class="dropdown-toggle">Etapa2</span>
    <div class="dropdown-menu">
      <a routerLink="etapa2/et2-clases" routerLinkActive="active">Clases</a>
      <a routerLink="etapa2/et2-contador" routerLinkActive="active">Contador</a>
      <a routerLink="etapa2/et2-else" routerLinkActive="active">Else</a>
      <a routerLink="etapa2/et2-ngfor" routerLinkActive="active">NgFor</a>
      <a routerLink="etapa2/et2-plantilla" routerLinkActive="active"
        >Plantilla</a
      >
      <a routerLink="etapa2/et2-propiedades" routerLinkActive="active"
        >Propiedades</a
      >
    </div>
  </div>

  <div class="dropdown">
    <span class="dropdown-toggle">Etapa3</span>
    <div class="dropdown-menu">
      <a routerLink="etapa3/et3-index" routerLinkActive="active">Index</a>
      <a routerLink="etapa3/et3-forms" routerLinkActive="active"
        >Formulario Reactivo</a
      >
      <a routerLink="etapa3/et3-padre" routerLinkActive="active">Padre</a>
      <a routerLink="etapa3/et3-padre2" routerLinkActive="active">Padre2</a>
      <a routerLink="etapa3/et3-plantilla2" routerLinkActive="active"
        >Plantilla</a
      >
      <a routerLink="etapa3/et3-validaciones" routerLinkActive="active"
        >Validaciones</a
      >
    </div>
  </div>

  <div class="dropdown">
    <span class="dropdown-toggle">Etapa4</span>
    <div class="dropdown-menu">
      <a routerLink="etapa4/et4-padre3" routerLinkActive="active">Padre3</a>
    </div>
  </div>
</nav>
<article>
  <router-outlet></router-outlet>
</article>
<footer>
  <span>Aaron Valerio / 2209726 / 5L3</span>
</footer>
