.carousel {
  width: 80%;
  max-width: 1000px;
  margin: 2em auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.slides {
  display: flex;
  animation: slide 1s infinite;
}

.slides img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  16% {
    transform: translateX(0%);
  }

  20% {
    transform: translateX(-100%);
  }
  36% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(-200%);
  }
  56% {
    transform: translateX(-200%);
  }

  60% {
    transform: translateX(-300%);
  }
  76% {
    transform: translateX(-300%);
  }

  80% {
    transform: translateX(-400%);
  }
  96% {
    transform: translateX(-400%);
  }

  100% {
    transform: translateX(0%);
  }
}
