<div class="carousel">
  <div class="slides">
    <img
      src="https://i.pinimg.com/736x/40/b1/96/40b196d8cf3a14ea61600b1fa83f6697.jpg"
      alt="Imagen 1"
    />
    <img
      src="https://i.pinimg.com/736x/4b/85/78/4b8578c1fc706cd15db8235202ee2ac1.jpg"
      alt="Imagen 2"
    />
    <img
      src="https://i.pinimg.com/1200x/8e/e5/8b/8ee58b523108742c34c43e4fb3130c98.jpg"
      alt="Imagen 3"
    />
    <img
      src="https://i.pinimg.com/736x/ee/bb/73/eebb7390384ac8d3ea2d64746c96e643.jpg"
      alt="Imagen 4"
    />
    <img
      src="https://i.pinimg.com/736x/cf/fc/cf/cffccff3172d91b5e591bd990c91233a.jpg"
      alt="Imagen 5"
    />
  </div>
</div>
